<form class="form">
  <div class="form__group">
    <label class="form__label" for="email">EMAIL</label>
    <input class="form__input" id="email" formControlName="email"/>
  </div>
  <div class="form__group">
    <label class="form__label" for="password">PASSWORD</label>
    <input class="form__input" id="password" formControlName="password"/>
  </div>

  <div class="submit-button-container">
    <button (click)="onAddClick()" class="submit-button">Log in</button>
  </div>
  <div>
    <a routerLink="/authorization/register">Register</a>
  </div>
</form>

