@import "../../colors.scss";

.header {
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
}


.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  width: 50vw;
  height: 100vh;
  position: absolute;
}
