.form {
  padding: 20px;

  &__group {
    margin-top: 10px;
  }

  &__label {
    display: block;
    font-size: 10px;
    margin-bottom: 3px;
    font-weight: bold;
  }

  &__input {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
  }

  &__submit-button {
    background-color: #3BA150;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 20px;
    color: white;
  }

  &__map {
    width: 300px;
    height: 300px;
  }
}

agm-map {
  height: 300px;
}