<form class="form" [formGroup]="centerForm" (ngSubmit)="add(centerForm.value)">
  <div class="form__group">
    <mat-form-field>
      <label class="form__label" for="name">CENTER TYPE</label>
      <mat-select formControlName="centerTypeId">
        <mat-option *ngFor="let type of centerTypes" [value]="type.id">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__group">
    <label class="form__label" for="name">NAME</label>
    <input class="form__input" id="name" formControlName="name"/>
  </div>

  <div class="form__group">
    <label class="form__label" for="address">ADDRESS</label>
    <textarea class="form__input" id="address" formControlName="address"></textarea>
  </div>



  <button class="form__group form__submit-button" type="submit">Create</button>
</form>