.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}

.go-back-button {
  height: 20px;
  margin: 20px 0 0 10px;
}
